/* Basic reset for consistent appearance across browsers */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    font-family: Arial, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 20px;
}

.dashboard {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
    gap: 16px;
}

/* Watchlist styles */
.watchlist {
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-x:scroll;
}

.header-container {
    display: flex;
    justify-content: space-between;
    gap: 14px;
    align-items: center;
    margin-bottom: 20px;
}

.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

/* Search section styles */
.search-section {
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
}

#search {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
}

.table-container {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    height: 400px;
    overflow: scroll;
}

table {
    width: 100%;
}

tr:hover {
    background-color: #f0f2f5;
}

table th {
    background-color: #f4f4f4;
}

#stock-table {
    border-collapse: collapse;
}

#stock-table thead {
    background-color: #f2f2f2;
}

#stock-table tbody {
    display: block;
    overflow-y: auto;
    height: 400px; /* Adjust as needed */
}

#stock-table tr {
    display: grid;
    grid-template-columns: 75% 25%; /* Define custom widths */
}
#stock-table th, #stock-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    box-sizing: border-box;
}
#stock-table thead th {
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
}

#watchlist-table th, #watchlist-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button.add {
    background-color: green;
    color: white;
}

button.remove {
    background-color: red;
    color: white;
}

button.refresh {
    background-color: green;
    color: white;
}

button.addstock {
    background-color: rgb(232, 128, 24);
    color: white;
    white-space: nowrap;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Loader style */
.loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 1s linear infinite;
    /* Safari */
    animation: spin 1s linear infinite;
}

/* Basic styling for the dialog and its contents */
dialog {
    border: none;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5); /* Optional: darken the background */
}
.dialog-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Media queries for responsiveness */
@media (min-width: 768px) {
    main {
        flex-direction: row;
        justify-content: space-between;
        gap: 5px;
        margin-top: 20px;
    }

    .watchlist {
        flex: 1.5;
        margin: 0 5px;
    }

    .search-section {
        flex: 0.5;
        margin: 0 5px;
    }
}