<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Analyser</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css', v='1.0.1') }}">
</head>

<body>
    <div class="dashboard">
        <header>
            <div class="header">
                <h1>Stock Analyser</h1>
                <div id="loader" class="loader" style="visibility: hidden;"></div>
            </div>
        </header>
        <main>
            <div class="watchlist">
                <div class="header-container">
                    <h2>Watchlist</h2>
                    <div id="refresh-time" class="text"></div>
                    <button id="refresh-button" class="refresh" type="button">Refresh</button>
                </div>

                <table id="watchlist-table">
                    <thead>
                        <tr>
                            <th>Stock Name</th>
                            <th>Current value</th>
                            <th>From 52week high</th>
                            <th>Note</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Watchlist items will be dynamically added here -->
                    </tbody>
                </table>
            </div>

            <div class="search-section">
                <div class="search-container">
                    <input type="text" id="search" placeholder="Search for stocks...">
                    <button id="add-stock-button" class="addstock" type="button">Add stock</button>
                </div>
                
                <div class="table-container">
                    <table id="stock-table">
                        <thead>
                            <tr>
                                <th>Stock Name</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Stock list will be dynamically added here -->
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    </div>

    <!-- Add stock dialog element -->
    <dialog id="add_stock_dialog">
        <form id="add_stock_dialog_form">
            <h2>Add Stock</h2>
            <br>
            <label for="stock_ticker">Stock ticker:</label>
            <input type="text" id="stock_ticker" name="stock_ticker" required><br><br>
            <label for="stock_name">Stock name:</label>
            <input type="text" id="stock_name" name="stock_name" required><br><br>
            <div class="dialog-buttons">
                <button type="button" id="cancel-dialog-btn">Cancel</button>
                <button type="submit">Submit</button>
            </div>
        </form>
    </dialog>

    <script src="{{ url_for('static', filename='script.js', v='1.0.1') }}"></script>
</body>

</html>